[Unit]
Description=Load OpenRGB default profile
After=graphical-session.target sleep.target
Wants=sleep.target

[Service]
Type=oneshot
ExecStart=%h/bin/openrgb-load-profile.sh
RemainAfterExit=no

[Install]
WantedBy=default.target sleep.target

